<div class="container">
    <div class="card text-center">
        <div class="card-header p-3 mb-2 bg-primary text-white">
            <b>Agregar modelo de laptop</b>
        </div>
        <form [formGroup]="formProducto" (submit)="send()">
        <div class="card-body p-4">
            <label style="float:left m-2">Nombre</label>
            <input class="form-control m-2" type="text" id="nombre" formControlName="nombre" placeholder="Nombre" >
            <label style="float:left m-2">SKU</label>
            <input class="form-control m-2" type="text" formControlName="sku"  placeholder="SKU" >
            <label style="float:left m-2">Marca</label>
            <input class="form-control m-2" type="text" formControlName="marca"  placeholder="Marca" >        
            <label style="float:left m-2">Costo</label>
            <input class="form-control m-2" type="number" formControlName="costo"  placeholder="Costo" >
            <label style="float:left m-2">Procesador</label>
            <select class="form-select m-2" formControlName="procesador" >                
                <option selected value="AMD">AMD</option>
                <option value="Intel">Intel</option>
            </select>
            <label style="float:left m-2">Memoria RAM</label>
             <input class="form-control m-2" type="text" formControlName="memoriaRam"  placeholder="Memoria RAM" >              
            <div>
                <br>
                <label class="text-danger" style="float:left m-2" [hidden]="formProducto.valid">* Todos los campos son obligatorios favor de completarlos</label>
                <br>
                <button class="btn btn-primary btn-block m-2" [disabled]="formProducto.invalid" >Guardar</button>                            
            </div>
        </div>
        </form>
    </div>
  </div> 
